{% load exam_extras %}
<!DOCTYPE html>
<html>

<head>
{% block viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
{% endblock %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108438990-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];

function gtag() {
  dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'UA-108438990-1');
</script>

  <meta charset="utf-8">
  <title>DEU Faculty of Business Examination Schedules</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>

<style media="screen">
body {
padding-bottom: 40px;
background-color: #eee;
}
</style>

<body>

{% if user|has_group:"administratives" %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <a class="navbar-brand" href="{% url 'exam-home' %}">{{user.first_name}} {{user.last_name}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href={% url 'student' %}>Öğrenciler</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'instructor' %}">Hocalar</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'assistant' %}">Asistanlar</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'course' %}">Dersler</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'classroom' %}">Sınıflar</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'dolubos' %}">Dolu-boş</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'department' %}">Bölümler</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'lists' %}">Listeler</a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ayarlar
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'password_change' %}">Şifre değiştir</a>
        </div>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'logout' %}">Çıkış</a>
      </li>

    </ul>
  </div>
</nav>
{% else %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  {% if user.is_authenticated %}
  <a class="navbar-brand" href="{% url 'exam-home' %}">{{user.first_name}} {{user.last_name}}</a>
{% endif %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href={% url 'student' %}>Students</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'instructor' %}">Instructors</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'assistant' %}">Assistants</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'course' %}">Courses</a>
      </li>
      {% if user.is_authenticated %}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endif %}





    {% block content %}
    {% endblock %}

  </body>

</html>
