{% extends 'base.html' %}
{% block content %}
<style media="screen">

.form {
  max-width: 400px;
padding: 15px;
margin: 0 auto;
}
</style>

{% if messages %}

    {% for message in messages %}
      <div class="alert alert-danger" role="alert">

        {{ message }}

      </div>
    {% endfor %}

{% endif %}

<div class="container">
  <form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ form }}
    <button class="btn btn-lg btn-dark btn-block" type="submit">Submit</button>
  </form>
</div>

{% endblock %}